.container{
    width: 90%;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.form-section{
    background-color: #e9f5ff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #b3d9ff;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.form-group {
    margin-bottom: 15px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
section {
    margin-bottom: 40px;
}
h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.list-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.table-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
th {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.map-section {
    text-align: center;
}